 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("{{url_for('static', filename='images/2024-04-2013.47.271.jpg')}}");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 529px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 15px;
  margin: 273px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 102px 0 16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 334px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto;
}