 .u-section-1 {
  background-image: url("images/e4.jpg");
  background-position: 50% 50%;
  min-height: 500px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 695px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 19px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "PT Sans", sans-serif;
  margin: 100px 99px 0 13px;
}

.u-section-1 .u-text-2 {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 80px 0 13px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-style: italic;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 10px 99px 0 31px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1.125rem;
  border-style: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 34px auto 0 31px;
  padding: 13px 52px 13px 51px;
}

.u-section-1 .u-image-1 {
  max-height: 691px;
  max-width: 691px;
  position: relative;
  float: right;
  background-image: url("static/images/glavn.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 291px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 573px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    line-height: 1.2;
    margin-left: 0;
    margin-right: 22px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
    margin-left: 0;
    margin-right: 3px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 82px;
    margin-left: 0;
    width: 400px;
    min-width: 400px;
    float: left;
    overflow: scroll;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 570px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 158px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    background-position: 32.77% 50%;
    min-height: 437px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 477px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 50px 60px 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-image-1 {
    order: 0;
    min-height: 596px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 50px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 234px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
    width: 600px;

  }

  .u-section-1 .u-text-3 {
    margin-top: 18px;
    margin-right: 0;
    width: 600px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-image-1 {
    background-position: 36.67% 50%;
    min-height: 375px;
    max-width: 600px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 476px;
}

.u-section-2 .u-list-1 {
  height: auto;
  margin: 60px auto 60px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 326px;
  grid-gap: 10px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 50px 30px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-line-1 {
  width: 90px;
  height: 3px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 50px 30px 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-line-2 {
  width: 90px;
  height: 3px;
  transform-origin: right center;
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 50px 30px 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-line-3 {
  width: 90px;
  height: 3px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 50px 30px 30px;
}

.u-section-2 .u-text-7 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-line-4 {
  width: 90px;
  height: 3px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 269px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 568px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  margin: 42px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 56px auto 60px;
  padding: 12px 38px 14px 37px;
} .u-section-4 {
  background-image: none;
  min-height: 1196px;
}

.u-section-4 .u-shape-1 {
  height: 872px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  width: 628px;
  height: 513px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -787px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-group-1 {
  width: 1105px;
  min-height: 362px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  height: auto;
  margin: 136px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 600;
  margin: 27px 28px 0 13px;
}

.u-section-4 .u-text-2 {
  margin-left: 13px;
  margin-right: 28px;
  margin-bottom: 0;
  font-weight: 600;
}

.u-section-4 .u-group-2 {
  width: 414px;
  min-height: 413px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  height: auto;
  margin: -911px calc(((100% - 1140px) / 2)) 463px auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 30px 0;
}

.u-section-4 .u-text-3 {
  margin: 0;
}

.u-section-4 .u-text-4 {
  margin: 28px 7px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 19px auto 0 0;
  padding: 12px 38px 14px 37px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1135px;
  }

  .u-section-4 .u-shape-1 {
    height: 834px;
  }

  .u-section-4 .u-image-1 {
    width: 485px;
    height: 421px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-group-1 {
    width: 450px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2)  + 35px);
    height: auto;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-2 {
    width: 397px;
    min-height: 343px;
    margin-right: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-4 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1361px;
  }

  .u-section-4 .u-shape-1 {
    height: 1016px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    margin-top: -1003px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    width: 334px;
    margin-top: 354px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-4 .u-group-2 {
    width: 720px;
    min-height: 342px;
    margin-top: -824px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1633px;
  }

  .u-section-4 .u-shape-1 {
    height: 1394px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 346px;
    margin-top: -963px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
    margin-top: 396px;
    margin-left: auto;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-group-2 {
    width: 540px;
    min-height: 377px;
    margin-top: -1476px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1729px;
  }

  .u-section-4 .u-shape-1 {
    height: 1165px;
    margin-top: 336px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 231px;
    margin-top: -590px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-top: -681px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-group-2 {
    width: 340px;
    min-height: 441px;
    margin-top: -814px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }
}