 .u-section-1 {
  background-image: none;
  min-height: 1073px;
}

.u-section-1 .u-image-1 {
  height: 591px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -157px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 548px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 10px auto 0 0;
}

.u-section-1 .u-text-3 {
  text-decoration: underline !important;
  font-weight: 700;
  font-size: 1.5rem;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  vertical-align: -2px;
  margin-right: 12px;
  font-size: 1.6667em;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 548px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(#3fb7fe, #c128f6);
}

.u-section-1 .u-container-layout-2 {
  padding: 19px 30px;
}

.u-section-1 .u-image-2 {
  width: 490px;
  height: 490px;
  margin: 10px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 941px;
  }

  .u-section-1 .u-image-1 {
    height: 558px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 457px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 8px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 49.15% 50%;
    min-height: 452px;
  }

  .u-section-1 .u-image-2 {
    width: 457px;
    height: 457px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 20.15% 50%;
    min-height: 346px;
  }

  .u-section-1 .u-image-2 {
    width: 336px;
    height: 336px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1146px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 49.15% 50%;
    min-height: 472px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 957px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 297px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 320px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 11px 0 60px;
}